#companion-area {
    float:left;
    text-align: center;
    width: 14%;
    height : 100%;
    margin-left: 10px;
    background-color: #d8e3f2
}

#companion-area p {
    font-weight: bold;
}
#companion-area hr {
    margin : auto;
    width : 80%;
    text-align: center;
    margin-top : -10px;
}
#companions-container {
    border : 2px solid black;
    width : 90%;
    margin : auto;
    height: 90%;
    background-color: rgb(238, 238, 238);
}

.companion-container {
    margin-top : 20px;
}

.companion-counter-max {
    width : 90%;
    height : 20px;
    text-align: center;
    margin :auto;
    background-color: rgb(218, 218, 218);
    border : 2px solid darkgray;
    border-radius : 5px;
    position : relative;
    overflow : hidden;
}

.companion-counter-current {
    position : absolute;
    left: 0;
    height : 100%;
    background-color: rgb(218, 89, 89);
    border-radius : 5px;
}

.companion-counter-text {
    position: absolute;
    width: 100%;
    text-align : center;
    margin : auto;
    color: white;
    text-shadow:
        2px 2px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
    z-index : 2;
}

.companion-sprite {
    width : 100%;
}

.companion-name {
    width : 100%;
}

.companion-active-highlight {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

