#enemy-display {
    width : 50%;
}
#enemy-status-container {
    width: 80%;
    margin: auto;
    height : max-content;
    text-align : center;
}
.enemy-effect-container {
    position:relative;
    width : 32px;
    height : 30px;
    display : inline-block;
}
.enemy-effect-sprite {
    width : 100%;
    height : 100%;
}
.enemy-effect-text {
    position : absolute;
    font-size : 15px;
    bottom : 5%;
    right : 5%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow:
        2px 2px 0 #ffffff,
      -1px -1px 0 #ffffff,  
       1px -1px 0 #ffffff,
       -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}
#enemy-container {
    position:relative;
    top:5%;
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
    font-size : 15pt;
}

#enemy-max-hp {
    margin:auto;
}
#enemy-hp-text {
    font-size : 1em;
    line-height : 100%;
}
