body {
    background-color: darkslateblue;
    font-family : "Geist Mono";
    width: 100%;
}
#container {
    width: 1150px;
    height: 700px;
    margin: auto;
}
#combat-area {
    width: 40%;
    height: 100%;
    float: left;
    background-color: #d8f2e9;
}

#information-area {
    width: 35%;
    height: 100%;
    float: left;
    margin-left:10px;
    background-color: #f2ebd8;
}

#log {
    width: 95%;
    height: 47%;
    margin: 10px;
    background-color: #f1f1f1;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content : space-between;
}

#event-area {
    width: 95%;
    height: 60%;
    margin: 10px;
    background-color: #f1f1f1;
    border: 2px solid black;
}

#letter-board {
    width: 95%;
    height: 35%;
    margin: 10px;
    background-color: #f1f1f1;
    border: 2px solid black;
}

.letter {
    min-width: 28px;
    max-width : max-content;
    padding : 1px;
    height: 28px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #d9dedb;
    text-transform: uppercase;
    display : inline-block;
    font-family : "Geist Mono";
    font-size : 1.3em;
    text-align : center;
    vertical-align: middle;
    line-height:28px;
    user-select: none;
}

.placeholder-letter {
    background-color: darkgray;
    opacity : 0.5;
}

#letter-input {
    width:85%;
    min-height: 50px;
    background-color: white;
    display: inline-flex;
    position: relative;
    overflow:auto;
}

#send-input {
    width:60px;
    height: 50px;
    margin:auto;
    background-color: orange;
    display: inline;
    float:right;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#send-input:disabled {
    background-color: #d1bca3;
}

#combat-input-container, #modifier-letter-container,  #ability-overflow-submit-container {
    width : 100%;
    height : 100%;
    position : relative;
}

#bottom-row-buttons-container {
    width: 95%;
    position: absolute;
    bottom: 10px;
    padding : 5px;
}
.bottom-row-button {
    border-radius : 5px;
    float : right;
    margin-left : 5px;
}

.temporary-highlight {
    border: 1px solid yellow;
}

.temporary-highlight-ability {
    border : 1px solid cyan;
}
.tippy-content { /* to render newlines in tooltips properly */
    white-space : pre-line;
}

.ability-overflow-ability-container {
    height : 70px;
    display : inline-block;
    margin : 10px;
}

#ability-overflow-abiltiies-container {
    margin: auto;
    text-align: center;
    width : 100%;
    height : 100%;
}

#progress-display {
    text-align: center;
    font-size : 25px;
    background-color: rgb(238, 238, 238);
    width : 90.8%;
    margin-bottom : 5px;
    border : 2px solid black;
    border-radius : 5px;
}