#owned-relics { 
    width : max-content;
    padding : 3px;
}

#owned-consumables {
    width : 95%;
    display : flex;
}

#relics {
    width: 95%;
    height: 47%;
    margin: 10px;
    background-color: #f1f1f1;
    border: 2px solid black;
    position : relative;
}


#relics p {
    margin : 0px;
    font-weight: bold;;
    text-align: center;
}


.player-consumable {
    width : 50px;
    height : max-content;
    text-align : center;
    padding : 7px;
}

.player-consumable-sprite {
    width : 45px;
}

.relic-container {
    position : relative;
    width : 40px;
    height : 40px;
    border : 2px solid black;
    margin: 2px;
    display : inline-block;
}

.relic-sprite {
    width : 100%;
    height : 100%;
}

.relic-text {
    position : absolute;
    font-size : 10px;
    font-weight: bold;
}

#relics hr {
    margin : 0px;
}

.item-display-container {
    text-align: center;
}

#charge-container {
    position : absolute;
    bottom : 0px;
    left : 5px;
}

#consumables-container {
    position : absolute;
    bottom : 130px;
    left : 5px;
}

#relics-container {
    position : absolute;
    top : 5px;
    left : 5px;
}

#charge-abilities {
    height : 50px;
}

.ability-container {
    height : 100%;
    margin : 5px;
    position : relative;
    width : max-content;
    display : inline-block;
}

.ability-sprite {
    width : 40px;
}

.ability-text {
    position : absolute;
    bottom : 8%;
    right : 5%;
    color: rgb(0, 0, 0);
    font-weight : bold;
    text-shadow:
        2px 2px 0 #ffffff,
      -1px -1px 0 #ffffff,  
       1px -1px 0 #ffffff,
       -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}