#owned-relics { 
    width : max-content;
    padding : 3px;
    overflow:auto;
}

#owned-consumables {
    width : 95%;
    display : flex;
    float:left;
}

#relics {
    width: 95%;
    height: 47%;
    margin: 10px;
    background-color: #f1f1f1;
    position : relative;
    border : 2px solid black;
}


#relics p {
    margin : 0px;
    font-weight: bold;;
    text-align: center;
}


.player-consumable {
    width : 50px;
    height : max-content;
    text-align : center;
    padding : 7px;
}

.player-consumable-sprite {
    width : 45px;
}

.relic-container {
    position : relative;
    width : 40px;
    height : 40px;
    margin: 2px;
    display : inline-block;
}

.relic-sprite {
    max-width : 100%;
    max-height : 100%;
}

.relic-text {
    position : absolute;
    font-size : 15px;
    font-weight: bold;
    bottom : 0px;
    right : 5px;
    color: white;
    text-shadow:
        2px 2px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}

#relics hr {
    margin : 0px;
}

.item-display-container {
    text-align: center;
}

#charge-container {
    position : absolute;
    bottom : 0px;
    left : 5px;
}

#consumables-container {
    position : absolute;
    bottom : 80px;
    left : 5px;
    height : 80px;
}

#relics-container {
    position : absolute;
    top : 5px;
    left : 5px;
}

.relic-active-highlight {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

#charge-abilities {
    height : 50px;
    overflow-y : hidden;
    overflow-x :auto;
}

.ability-container {
    margin : 5px;
    position : relative;
    width : max-content;
    display : inline-block;
    vertical-align: top;

}

.ability-sprite {
    max-height : 38px;
    max-width : 38px;
    float : left;
}

.ability-text {
    position : absolute;
    bottom : 5%;
    right : 5%;
    color: rgb(0, 0, 0);
    font-weight : bold;
    text-shadow:
        2px 2px 0 #ffffff,
      -1px -1px 0 #ffffff,  
       1px -1px 0 #ffffff,
       -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}